html{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
#sideimg {
    min-height: 100%;
    background-size: cover;
    float: left;
    margin-left: 0px
    margin-right: 10px;
    position: absolute;
    display: block;
}
#toptext{
    position: absolute;
    margin-top: 10px;
    padding-left: 40px;
    font-size: larger;
    font-family: Montserrat;
}